$green: #058c42;
$darkgreen: #04471c;
$brightgreen: #16db65;
$input-border: #e0e0e0;
$input-text: #828282;
$bg-light: #f2f2f2;
$heading: #4d4d4d;
$white: white;
$outer-radius: 1em;
$inner-radius: 0.8em;
$box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
$before: transform 0.3s ease;
$hover: scale(1.05);
$hr: rgb(185, 185, 185);
$clicked: ivory;
$light-gray: #eaeaea;
$warning: #dc3545;
