footer {
  background-color: #058c42;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
footer .socials {
  justify-content: center;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 2em;
  display: flex;
  gap: 0.5em;
}
footer .pages {
  display: flex;
  color: white;
  gap: 4em;
  justify-content: center;
  padding-bottom: 2em;
}
footer .copyright {
  width: 100%;
  text-align: center;
  background-color: #04471c;
  padding: 1em 0em;
  color: white;
}