.form-container {
  background-color: white;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4em;
  border-radius: 1.25em;
  padding: 3em;
  margin: 2em;
}
.form-container .logo-container {
  width: 8em;
  height: 3em;
}
.form-container .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.form-container .form-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-container .form-header .heading {
  font-weight: bolder;
  font-size: 1.25em;
  margin: 0;
}
.form-container .form-header .subheading {
  font-size: 0.8em;
}
.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.form-container form .button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form-container form .otp-container {
  display: flex;
  justify-content: space-between;
}
.form-container form .otp-number {
  border: 1px #e0e0e0 solid;
  border-radius: 0.4em;
  width: 2.6em;
  height: 3em;
  text-align: center;
  font-size: 1em;
  padding: 0;
}
.form-container .input-field {
  border: none;
  background-color: transparent;
  width: 100%;
}
.form-container .input-field:focus {
  outline: none;
}
.form-container .primarybtn {
  border: none;
  color: white;
  background-color: #04471c;
  padding: 0.6em 2em;
  border-radius: 0.4em;
  transition: transform 0.3s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.4em;
  width: 100%;
}
.form-container .primarybtn .primarybtn-link {
  color: white;
  text-decoration: none;
}
.form-container .primarybtn .primarybtn-link:hover {
  color: lightgray;
}
.form-container .primarybtn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.form-container .secondarybtn {
  border: none;
  padding: 0.4em;
  border-radius: 0.4em;
  color: #4d4d4d;
  transition: transform 0.3s ease;
}
.form-container .secondarybtn .secondarybtn-link {
  text-decoration: none;
  color: black;
}
.form-container .secondarybtn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.form-container .input-main-container {
  gap: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-container .options {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.form-container .options .action a {
  color: #058c42;
  text-decoration: none;
}
.form-container .name-container {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0.6em;
}
.form-container .input-container {
  display: flex;
  border: 1px solid #e0e0e0;
  height: fit-content;
  color: #828282;
  gap: 0.6em;
  align-items: center;
  padding: 0.4em 1em 0.4em 1.2em;
  border-radius: 0.4em;
  width: 100%;
  box-sizing: border-box;
}
.form-container .input-container .icon-container {
  display: flex;
  align-items: center;
  padding: 0;
}
.form-container .input-container .icon-container svg {
  font-size: 1.2em;
  margin: 0;
}
.form-container .validation {
  color: #dc3545;
  font-size: 0.8em;
  background-color: rgba(220, 53, 70, 0.2823529412);
  text-align: center;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  padding: 0.4em 1em 0.4em 1.2em;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.hero {
  width: 30em;
  height: 60em;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  justify-items: end;
  margin: 0;
  padding: 0;
}
.hero .product-card-chart {
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 1em;
  border-radius: 0.8em;
  font-size: 1em;
  transition: transform 0.3s ease;
}
.hero .product-card-chart .graph-title {
  font-weight: 600;
}
.hero .product-card-chart .legend-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}
.hero .product-card-chart .legend-container .legend-label {
  font-size: 0.9em;
}
.hero .product-card-chart .legend-container .legend2,
.hero .product-card-chart .legend-container .legend3,
.hero .product-card-chart .legend-container .legend1 {
  width: 2em;
  height: 1em;
  border-radius: 0.2em;
}
.hero .product-card-chart .legend-container .legend2 {
  background-color: #04471c;
}
.hero .product-card-chart .legend-container .legend3 {
  background-color: #16db65;
}
.hero .product-card-chart .legend-container .legend1 {
  background-color: #058c42;
}
.hero .product-card-chart .bars {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
.hero .product-card-chart .bars .bar1,
.hero .product-card-chart .bars .bar2,
.hero .product-card-chart .bars .bar3 {
  width: 20em;
  height: 1em;
  border-radius: 0.2em;
}
.hero .product-card-chart .bars .bar1 {
  background-color: #04471c;
  height: 1.2em;
}
.hero .product-card-chart .bars .bar2 {
  background-color: #058c42;
}
.hero .product-card-chart .bars .bar3 {
  background-color: #16db65;
}
.hero .product-card {
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 0.8em;
  border-radius: 0.8em;
  margin-top: 12em;
}
.hero .product-card .product-container {
  width: 14em;
  height: 14em;
}
.hero .product-card .product-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8em;
}
.hero .product-card .card-details {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .product-card .card-details .product-details {
  display: flex;
  flex-direction: column;
}
.hero .product-card .card-details .product-details .prod-name {
  font-size: 1em;
}
.hero .product-card .card-details .product-details .prod-price {
  font-size: 1.2em;
  font-weight: 600;
}
.hero .product-card .card-details .status-btn {
  font-size: 0.8em;
  color: white;
  background-color: #058c42;
  border: none;
  border-radius: 0.4em;
  padding: 0.4em;
  display: flex;
  gap: 0.4em;
  align-items: center;
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
}
.hero .image-card1,
.hero .image-card2 {
  transition: transform 0.3s ease;
  padding: 0;
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
}
.hero .stats-card {
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  width: 14em;
  height: 18em;
  padding: 1em;
  border-radius: 0.8em;
  color: white;
  background-color: #04471c;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.hero .stats-card .percentage {
  font-size: 3em;
}
.hero .partner-services {
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 0.8em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1em;
  margin-top: 24em;
}
.hero .partner-services p {
  font-weight: bold;
}
.hero .partner-services .logos-container img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: -10px;
}
.hero .image-card1 {
  width: 16em;
  height: 20em;
  transition: transform 0.3s ease;
}
.hero .image-card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8em;
}
.hero .image-card3 {
  width: 18em;
  height: 12em;
  margin-top: 30em;
  transition: transform 0.3s ease;
}
.hero .image-card3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8em;
}
.hero .image-card2 {
  height: 12em;
  transition: transform 0.3s ease;
}
.hero .image-card2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 0.8em;
}
.hero .product-table {
  transition: transform 0.3s ease;
  background-color: white;
  width: fit-content;
  border-radius: 0.8em;
  padding: 1em;
  margin-top: 18em;
  transition: transform 0.3s ease;
}
.hero .product-table table {
  border-spacing: 1em;
}
.hero .product-table table thead {
  border-bottom: solid 1px rgb(179, 179, 179);
}
.hero .product-table table thead th {
  border-bottom: solid 1px gray;
}
.hero .product-table table th {
  text-align: left;
}
.hero .product-table table td {
  width: 5em;
}
.hero .product-table table td .table-img {
  width: 4em;
  height: 4em;
  margin-bottom: 0.5em;
}
.hero .product-table table td .table-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4em;
}
.hero .product-table table td.price {
  font-weight: 600;
}
.hero .image-card1:hover,
.hero .stats-card:hover,
.hero .partner-services:hover,
.hero .image-card3:hover,
.hero .product-table:hover,
.hero .stats-card:hover,
.hero .product-card:hover,
.hero .product-card-chart:hover {
  transform: scale(1.08);
}

.formpage {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.formpage .form-div,
.formpage .form-hero {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}